.vscode
db.json
*.log
node_modules/
public/
./*.bib
id_rsa
source/_posts/*.md
.source_me
.deploy_git/
.ghc*
pandoc-filters/*
!pandoc-filters/*.hs
!pandoc-filters/handleRuby

source/downloads/code/c-examples/**

!source/downloads/code/c-examples/*
!source/downloads/code/c-examples/*/*.c
!source/downloads/code/c-examples/*/*.h
